@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
    position: fixed;
	color: lightgrey;
}
input[type=checkbox] {
    cursor: pointer;
}

#overlays, #connecting {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
}
#connecting {
    z-index: 100;
}
#connecting-content {
    width:  450px;
    background-image:url('https://img.pixers.pics/pho_wat(s3:700/FO/45/41/04/05/700_FO45410405_14cabdd613161a32d10d3df19d16d566.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/wall-murals-abstract-waves-background-seamless-pattern.jpg.jpg');
    border: solid 10px rgb(41 42 46);
    margin: 100px auto;
    border-radius: 15px;
    padding: 5px 15px;
    color: black;
}




#nick {
    width: 70%;
    height: 50px;
    background: rgb(42 42 42);
    border: solid 2px;
    display: inline;
    font-family: Road Rage;
    font-size: 30px;
}
#skin {
    width: 33%;
    float: right;
}
#nick, #skin {
    display: inline;
}
#gamemode {
    margin-top: 5px;
    width: 100%;
}
.middle {
    width: 435px;
    height: 600px;
    margin: 10px auto;
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 background: rgb(41 42 46);
    

   
}


.left {
    width: 335px;
    height: 600px;
    margin: 10px auto;
    border-radius: 15px 0px 0px 15px;

    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-160%, -50%);
 background: rgb(52 52 52);
    

   
}
#rightPanel {
	width: 350px;
	margin: 10px auto;
	border-radius: 15px;
	padding: 5px 15px 5px 15px;
	position: absolute;
	top: 50%;
	left: 150%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent)
}
 






#chat_textbox {
    transition: all .5s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: rgba(0, 0, 0, .2);
    border: 0px;
    outline: none;
    color: #fff;
    height: 30px;
    text-indent: 12px;
    left: 10px;
    width: 300px;
    font-size: 20px;
    font-family: "Road Rage";
}
#chat_textbox:focus {
    background: rgba(0, 0, 0, .5);
}
#footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}
#play-btn {
    width: 85%;
    margin-bottom: 10px;
    background: #50C878;
    border: solid 4px 	#50C878;
    font-family: "Ubuntu";
}
#spectate-btn {
    width: 30%;
    height: 50px;
    border-radius: 8px;
    transform: translate(217%, -70%);
    margin-bottom: 0px;
    button-align: right;
    background: #212121;
    border: solid 2px #2a2c31;
    font-family: "Ubuntu";
}

#clrname {
   width: 37.6%;
    height: 50px;
    border-radius: 8px;
   transform: translate(-10%, -66%);
    margin-bottom: 0px;
    button-align: right;
    background: #212121;
    border: solid 2px #2a2c31;
    font-family: "Ubuntu";
}
#clrname, #spectate-button {
    display: inline;
}





#gallery-btn {
    width: 100%;
    margin-bottom: 5px;
}
#touchpad, #touchCircle, #splitBtn, #ejectBtn {
    position: fixed;
}
#touchpad, #splitBtn, #ejectBtn {
    z-index: 2;
}
#touchpad {
    background: #000;
    opacity: 0.3;
    width: 20vw;
    height: 20vh;
    left: 0;
    bottom: 0;
}
#touchCircle {
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background: #f00;
    opacity: 0.3;
    z-index: 3;
}
#splitBtn, #ejectBtn {
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    background: #777;
    opacity: 0.5;
}
#splitBtn {
    right: 18vw;
    bottom: 0;
}
#ejectBtn {
    bottom: 18vw;
    right: 0;
}
#playSounds:checked + #soundsVolume {
    display: inline;
}
#soundsVolume {
    display: none;
    width: 100px;
    height: 18px;
    padding: 0; /* IE fix */
    vertical-align: middle;
}
#settings label {
    margin-right: 10px;
    user-select: none;
}
.header {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 6rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

